<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dictation.word.dao.lib.LibMapper">
    <resultMap id="libInfo" type="dictation.word.entity.lib.LibInfo">
        <id property="id" column="id"/>
        <result property="libName" column="lib_name"/>
        <result property="creatorName" column="creatorName"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="common" column="common"/>
        <result property="desc" column="desc"/>
        <result property="cover" column="cover"/>
        <association property="cnt" column="id" javaType="int"
                     select="dictation.word.dao.lib.LibWordMapper.getLibWordCnt"/>
        <association property="uses" column="id" javaType="int"
                     select="dictation.word.dao.lib.UserLibMapper.getLibUseCnt"/>
    </resultMap>
    <select id="getUserLibList" resultMap="libInfo">
        SELECT lib.*, u.user_name AS creatorName
        FROM lib
                 JOIN user_lib ON user_lib.lib_id = lib.id
                 JOIN user AS u ON user_lib.user_id = u.id and u.id = #{userId}
    </select>
    <select id="getLibInfo" resultMap="libInfo">
        SELECT lib.*, u.user_name AS creatorName
        FROM lib
                 JOIN user AS u ON lib.id = #{libId} and u.id = #{userId}
    </select>
    <select id="getCommonLibList" resultMap="libInfo">
        select lib.*, u.user_name as creatorName
        from lib
        join user as u
        on u.id = creator
        and common = 1
        <if test="search!=null and !search.isEmpty()">
            and lib_name like concat('%', #{search}, '%')
        </if>
    </select>
</mapper>
