<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dictation.word.dao.lib.LibWordMapper">
    <select id="getLibWordCnt" resultType="java.lang.Integer">
        select count(*)
        from lib_word
        where lib_word.lib_id = #{libId};
    </select>
</mapper>
